  <!-- The content pulled for the news section will be top 3 news results from database -->
<div class='row-fluid'>
  <% @articles.each do |a| %>
    <div class='span4'>
      <h4><%= a.title %></h4>
      <p><%= a.summary %></p>
      <%= link_to 'More', a, class: 'btn' %>
    </div>
  <% end %>
</div>